.checkout-page {
  margin: auto;
  width: 1200px;
}

.checkout-info {
  box-shadow: 0.1px 3px 5px rgb(173, 173, 173);
  margin: auto;
  padding: 16px;
  width: 1200px;
}

.btn-danger {
  background-color: rgb(223, 78, 78);
  border: none;
  border-radius: 0;
  width: 100%;
}

.total-price-container {
  align-items: center;
  background-color: #0d6750;
  border-radius: 4px;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 900;
  height: 45px;
  justify-content: center;
  margin-top: 12px;
  width: 220px;
}
