.login-page {
  left: 50%;
  margin: -140px -180px;
  position: fixed;
  top: 50%;
}

.error-message {
  align-self: center;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 18px;
  margin-top: 30px;
  width: 320px;
}

.acess-form {
  background-color: #d6e9e4;
  border: 1px solid #b1c2be;
  border-radius: 4px;
  box-shadow: 0.1px 3px 8px rgb(173, 173, 173);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 26px;
  row-gap: 12px;
  width: 320px;
}

.acess-form label {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  text-indent: 12px;
}

.acess-form input {
  height: 32px;
  text-indent: 10px;
  width: auto;
}

.primary__btn {
  width: auto;
}

.terciary__btn {
  width: 100%;
}

