body {
  display: flex;
  flex-direction: column;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  width: 80%;
  /* border: solid black 1px; */
}

.card-button {
  align-self: flex-end;
  font-size: large;
  font-weight: bold;
  height: 45px;
  margin-right: 10%;
  width: 220px;
}
