nav {
  background-color: #0d6750;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
position: fixed;
top: 0%;
width: 100%;
*/

a {
  color: white;
  text-decoration: none;
}

h5 {
  margin: 20px;
}

.produtos {
  background-color: #00c176;
  color: black;
}

.name {
  background-color: #39047e;
}

.logout {
  background-color: #297cf8;
  border: none;
  border-radius: 0;
  font-weight: 800;
  line-height: 0;
  padding: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
