.order-card {
  align-items: center;
  border: 1px solid gray;
  box-shadow: 0.1rem 0.1rem 0.1rem gray;
  color: #001813;
  display: flex;
  height: 8rem;
  justify-content: space-around;
  margin-left: 4rem;
  margin-right: 1rem;
  margin-top: 2rem;
  width: 30rem;
}

.order-card h3 {
  background-color: #eeb438;
  border-radius: 0.5rem;
  padding: 3rem;
}

.order-card div {
  font-size: large;
  text-align: center;
}
