.order-card {
  align-items: center;
  border: 1px solid gray;
  box-shadow: 0.1rem 0.1rem 0.1rem gray;
  color: #001813;
  display: flex;
  height: 6rem;
  justify-content: space-around;
  width: 28rem;
}

.order-card h3 {
  background-color: #eeb438;
  border-radius: 0.5rem;
  padding: 2rem;
}

.order-card div {
  font-size: medium;
  text-align: center;
}
