.card-container {
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid rgb(223, 222, 222) 1px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin: 15px;
  width: 200px;
}

.product-controls {
  align-items: center;
  background-color: rgb(223, 222, 222);
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input-container > input {
  border-radius: 5px;
  height: 80%;
  margin-inline: 5px;
  text-align: center;
  width: 20%;
}

.input-container > button {
  background-color: #0d6750;
  border-radius: 5px;
  color: white;
  height: 36px;
  margin-left: 15px;
  margin-right: 15px;
  min-width: fit-content;
  width: 36px;
}

.price-container {
  align-self: 'start';
  display: flex;
  font-size: 20px;
  z-index: 1;
}

.card-image {
  z-index: -1;
}
